.env
/test/

FileVault.exe
FileVault
*.out
*.o
*.obj
*.a
*.lib
*.so
*.dll

/build/
/bin/
/dist/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake

.vscode/
*.swp
*.swo
*.log
*.tmp
.DS_Store
Thumbs.db

*.d
*.map